<div class="header-bg">
<center><h1 id="header"><span class="pink">Artwork</span> by <span class="cyan">Johnny Choo     </span><span><%= image_tag('jchoo_icon.png', class: "icon") %></span></h1></center>
</div>

<div class="scroller-border">
  <div class="scroller">
    <%= image_tag('daft_punk.jpg', class: "a",) %>
    <%= image_tag('duck.jpg', class: "b") %>
    <%= image_tag('howl.jpg', class: "c") %>
    <%= image_tag('mree.jpg', class: "d") %>
    <%= image_tag('tron.jpg', class: "e") %>
    <%= image_tag('zoey.jpg', class: "f") %>
  </div>
</div>

