<center><h1>Artwork by Johnny Choo</h1></center>

<div class="scroller">
  <%= image_tag('daft_punk.jpg', class: "a") %>
  <%= image_tag('duck.jpg', class: "b") %>
  <%= image_tag('howl.jpg', class: "c") %>
  <%= image_tag('mree.jpg', class: "d") %>
  <%= image_tag('tron.jpg', class: "e") %>
  <%= image_tag('zoey.jpg', class: "f") %>
</div>