<div class="header-bg">
<center><h1 id="header"><span class="pink">Artwork</span> by <span class="cyan">Johnny Choo     </span><span><%= image_tag('jchoo_icon.png', class: "icon") %></span></h1></center>
</div>

<div class="scroller-border">
  <div class="scroller">
    <% @images.each do |key, val| %>
      <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
        <%= image_tag("#{val[:img]}", class: "#{val[:class]}", id: "img1", alt: "#{val[:title]}") %>
        <p hidden><%= val[:materials] %></p>
      </a>
    <% end %>
  </div>
</div>

<center><div class="images">
  <div class="img_header_bg">
    <h1 class="images_header">For your <span class="cyan1">viewing</span> <span style="color: #ffff89">convenience</span></h1>
  </div>

  <% @images.each do |key, val| %>
    <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
      <%= image_tag("#{val[:img]}", class: "#{val[:class]}", id: "img1", alt: "#{val[:title]}") %>
      <p hidden><%= val[:materials] %></p>
    </a>
  <% end %>
</div></center>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">your image title here (can be dynamic) </h3>
      </div>
      <div class="modal-body" id="showImg">
        <!-- here we create the image dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>